<footer class="py-5">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5 class="mb-1">About My Medical</h5>
            <p>
              Lorem ipsum dolor sit amet, ne nam purto nihil impetus, an facilisi accommodare sea
            </p>
          </div>
        </div>
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5 class="mb-1">Information</h5>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Laboratory</a></li>
              <li><a href="#">Medical treatment</a></li>
              <li><a href="#">Terms & conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5 class="mb-1">My Medical</h5>
            <p>
              Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc sit amet.
            </p>
            <ul class="list-unstyled">
              <li>
                 <i class="fas fa-calendar-week"></i> Monday - Saturday, 8am to 10pm
              </li>
              <li>
                 <i class="fas fa-phone"></i> +62 0888 904 711
              </li>
              <li>
                 <i class="fas fa-envelope"></i> hello@mymedical.com
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5 class="mb-1">Our location</h5>
            <p>The Suithouse V303, Kuningan City, Jakarta Indonesia 12940</p>

          </div>
        </div>
        <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5 class="mb-1">Follow us</h5>
            <ul class="company-social">
              <li class="social-facebook"><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="social-google"><a href="#"><i class="fab fa-google-plus"></i></a></li>
              <li class="social-vimeo"><a href="#"><i class="fab fa-vimeo-square"></i></a></li>
              <li class="social-dribble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="wow fadeInLeft" data-wow-delay="0.1s">
            <div class="text-center">
              <p>&copy;Copyright - My Medical. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
