<nav class="navbar navbar-expand-md border-bottom p-0">

   <a class="navbar-brand wow slideInLeft" href="/">
      <img src="/assets/logo2.png" alt="">
   </a>


   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>


   <div class="collapse navbar-collapse wow slideInRight" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#guest">Guest</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Log in</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Sign up</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
         </li>
      </ul>
   </div>

</nav>
