<%= render "shared/navbar_signed_in" %>

<div class="container py-5">
   <div class="row">
      <div id="blocks" class="col-md-5 mx-auto border py-4">
         <h1>Editing Allergy</h1>
         <%= render 'form', allergy: @allergy %>
         <%= link_to 'Show', @allergy %> |
      </div>
   </div>
</div>

<%= render "shared/footer" %>
