<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <h1>Application Index</h1>
         <a href="/users/sign_up" class="btn btn-primary">Sign Up</a>
         <a href="/users/sign_in" class="btn btn-primary">Sign In</a>
      </div>
   </body>
</html>
