<%= render "shared/navbar_signed_in" %>

<div class="container py-5">
   <div class="row">
      <div id="blocks" class="col-md-10 mx-auto border py-4">
         <h1>New Treatment Plan Note</h1>
         <%= render 'form', treatment_plan_note: @treatment_plan_note %>
      </div>
   </div>
</div>

<%= render "shared/footer" %>
